.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

.resume__link {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.2s ease, filter 0.2s ease;
}

.resume__icon {
    color: inherit;
    font-size: 2rem;
}

.resume__link:hover,
.resume__link:active {
    color: var(--button-active);
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.348));
}

.resume__secret-greeting {
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
}

.resume__secret-greeting:hover,
.resume__secret-greeting:active {
    color: tomato;
    animation: blinker 2s linear infinite;
}

.resume__text {
    max-width: 400px;
    text-align: justify;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}