.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.project__image {
    width: 100%;
    max-width: 400px;
    border-radius: 6px;
}

.project__markdown {
    background-color: RGB(13, 17, 23);
    border-radius: 6px;
    width: 90%;
    text-align: left;
    padding: 0 32px 32px 32px;
    border: solid var(--github-border-color) 1px;
    margin-top: 2rem;
    overflow-wrap: break-word;
}

.markdown__title {
    border-bottom: solid var(--github-border-color) 1px;
    margin-top: 1rem;
    padding: 0;
}

.project__markdown p {
    margin-bottom: 1rem;
}

.project__markdown p * {
    color: RGB(79, 159, 254);
}

.project__markdown h1,
h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid var(--github-border-color) 1px;
}

.project__markdown ul,
ol {
    margin-left: 32px;
}

.project__markdown img {
    max-width: 100%;

}

.project__markdown a {
    color: var(--github-anchor-color);
}

.project__markdown code {
    display: block;
    overflow-x: scroll;
    line-height: 1.5;
}