.profile__photo-container {
    position: relative;
    width: 60%;
    border-radius: 50%;
    /* max-width: 200px;
    min-width: 100px; */
    width: 120px;
    margin-top: 2em;
  }
  .profile__photo {
    z-index: 1000;
    width: 100%;
    vertical-align: bottom;
    transition: transform 1s ease-in-out;
  }
  /* .profile__photo:hover {
    transform: scale(1.1);
  } */
  .profile__description {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 400px;
  }
  .profile__title {
    text-align: center;
  }
  .profile__text {
    margin: 1em 0em;
  }
  .profile__icon-title {
    font-size: 0.7rem;
  }

  /* @media only screen and (min-width: 480px) {
    .profile__icon-title {
      font-size: 0.7rem;
    }
  } */
  
  