.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.project__image {
    width: 100%;
    max-width: 400px;
    /* max-height: 300px; */
}
.project__markdown {
    text-align: left;
    width: 100%;
}
.project__markdown p {
    margin-bottom: 8px;
}
