* {
	text-decoration: none;
}
:root {
	--bullet-radius: 8px;
}
.timeline {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
}
.bullet {
	position: relative;
	height: 2em;
	margin: auto;
}
.bullet__line {
	display: flex;
	margin: auto;
	height: 100%;
	background:var(--theme-color-2);
	width: 2px;
}
.bullet__circle {
	position: absolute;
	left:calc(50% - var(--bullet-radius)/2);
	height: var(--bullet-radius);
	width: var(--bullet-radius);
	border-radius: 50%;
	background: var(--theme-color-2);
}
.bullet--center {
	top:calc(50% - var(--bullet-radius)/2);
}
.bullet--top {
	top: 0px;
}
.bullet--bottom {
	bottom: 0px;
}
.item{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.item__prefix{
	width: 45%;
	text-align: right;
}
.item__title{
	width: 45%;
	text-align: left;
	color: inherit;
}
/* .timeline__text {
	color: var(--text-color);
} */

