* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
:root {
  --background-color:white;
	--theme-color-1: rgb(75, 75, 75);
  --text-color: #d8d8d8;
  --text-color-active: #38deff;
}
.app {
  min-height: 100vh;
  width: 100vw;
  text-align: center;
}
.app__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}
.background {
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  background-attachment: fixed;
  -webkit-animation: AnimateBG 30s ease infinite;
          animation: AnimateBG 30s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
